@import url(https://fonts.googleapis.com/css?family=Bebas+Neue);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);


.fa-instagram,.fa-facebook-square, .fa-whatsapp{
    color:#6c757d;
}



.navbar-brand {

    font-family: 'Bebas Neue';
    font-size: 2rem;
}
.h1, .h2, .h3, .h4, .h5, h1, h2, h3, h4, h5{
    font-family: 'Playfair Display',serif;
}
#logotipo a{ 
    position: absolute; 
    top: -9999px; 
    left: -9999px;
}

header.masthead {
    padding-top: 10.5rem;
    padding-bottom: 6rem;
    color: #000000;
    background-image: url(../assets/imagens/capa_principal.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}
.page-section {
  padding-top:6rem ;
}
.boxProduto{
    max-width: 540px; 
    border: none;
    padding-bottom: 2rem;
}
a {
 text-decoration: none;
 color: #000000;
}

.form-grupo{
    padding-bottom: 8px;
}
.footer-section{
    padding-top: 3rem ;
    padding-bottom: 6rem;
}
.rodape{
list-style: none;
text-align: center;
}
.rodape ul li{
    list-style: none;
    text-align: center;
    }

.fim{
    padding-bottom: 6rem;
}
.espacamento{
    padding-bottom: 3rem;
    text-decoration: underline;
} 