@import url(https://fonts.googleapis.com/css?family=Bebas+Neue);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);

.fa-instagram,.fa-facebook-square{
    color:#6c757d;
}


.navbar-brand {
    font-family: 'Bebas Neue';
    font-size: 2rem;
}
.h1, .h2, .h3, .h4, .h5, h1, h2, h3, h4, h5{
    font-family: 'Playfair Display',serif;
}


header.masthead {
    padding-top: 10.5rem;
    padding-bottom: 6rem;
    color: #000000;
    background-image: url(../assets/imagens/capa_principal.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}
header.masthead .masthead-subheading{


}
header.masthead .masthead-heading {

}
